* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: jet-brains-regular;
}

header li {
  list-style: none;
}
header a {
  transition: all;
  text-decoration: none;
  color: grey;
}

header a:hover {
  color: black;
}

header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2.5vw;
}

header .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  padding: 2vw;
}


